body{
    margin:0;
    overflow:hidden;
}

#play{
    position: absolute;
    color:white;
    font-size: 5vw;
    top: 50%;
    left: 50.5%;
    line-height: 0;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#inputs--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 100;
    transform: translate(0,93px);
    transition: .3s;
}
#inputs--wrapper.active{
    transform: translate(0,0)
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63vw;
    padding-bottom: 10px;
    border: solid 1px white;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
}

#icon{
    z-index: 1000000;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    width: 50px;
    opacity: 1;
    top:-5px;
    border: solid 1px white;
    border-bottom: solid 1px black;
    border-radius: 1px 1px 0px 0px;
    font-size: 2em;
    transform: translate(0,-46px);
    cursor: pointer;
}

#music-name{
    color:white;
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    left: 15px;
    opacity: 0.5;
}


#thefile {
    margin-top: 10px;
    color:white;
    transform: scale(0.8)
}

#default-file{
    transform: scale(0.8);
}

#canvas {
    background: radial-gradient( #0a0514 50%,black);
    background-size:100vw 100vw;
    background-position: 50%;
    cursor: grab;
}

#canvas:active{
    cursor: grabbing;
}

audio {
    margin-top: -5px;
    width: 100vw;
    transform: scale(0.6)
}